<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="login-box" *ngFor="let item of getUserInfos()">

    <form (ngSubmit)="save()" #saveForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-list-header>Default</ion-list-header>
            <div  class="d-flex justify-content-center"> 
              <ion-avatar class="ion-margin-start">
                <img src="./avatar.svg">
              </ion-avatar>
            </div>
            
            <ion-item  >
              <ion-label  position="floating" color="primary">
                Nom  
              </ion-label><br>
              <ion-input type="text" value="{{item.firstName}}"  name="name"  required></ion-input>
            </ion-item>

            <ion-item  >
              <ion-label  position="floating" color="primary">
                Prénom  
              </ion-label><br>
              <ion-input type="text" value="{{item.lastName}}"  name="name"  required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label  position="floating display-5" color="primary">
                Email
              </ion-label>
              <ion-input type="text" placeholder="{{item.email}}" name="email" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <ion-button class="submit-btn" full type="submit" [disabled]="!saveForm.form.valid">Save</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </div>

</ion-content>